# ? Bot Thumbnail Picture link (have to be a web link, you can't add a local directory location)
thumbnail_link=

# ?  bot password (DON'T SHARE) (can be changed normally if you have a developer account as long as you have the bot's source code) (it is accessible from https://dashboard.heroku.com/apps/quick-flips-discord-bot/settings, by pressing the reveal config vars button)
token=

# ?  prefix that is before commands, like (!) for rhythm (!play)
prefix=

# ?  payment link that users get redirected to if they are not customers yet
payment_link=

# ?  the bot owner's user id (right click/hold on user and search for copy id after enabling developer options)(set to Quicky#7167 id by default)
bot_owner_user_id=

# ?  the server id where the bot will work on (it can be found the same way as the owner id)
server_id=

# ?  bot technical messages channel id (get it like the owner and server)
stdout=

# ?  the role assigned to customers, without it they can't use the bot
customer_role_name=

# ?  bot invite link to server
invite_link=

# ? paypal api application token (can be accessed the same way as the bot token)
paypal_token=

# ? mongo db
mongo_username=
mongo_password=
mongo_hostname=
mongo_clustername=
